apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: result
  name: result
spec:
  replicas: 1
  selector:
    matchLabels:
      app: result
  template:
    metadata:
      labels:
        app: result
    spec:
      containers:
      - image: {{values.image.repository}}:{{values.image.tag}}
        name: result
        ports:
        - containerPort: 80
          name: result
          
        # resources:
        #   requests:
        #     cpu: "100m"      
        #     memory: "128Mi"
        #   limits:
        #     cpu: "500m"      
        #     memory: "256Mi"
            
        readinessProbe:
          httpGet:
            path: /ready
            port: 80
          initialDelaySeconds: 15  # Wait 5s before checking the first time
          periodSeconds: 10       # Check every 10s
          
        livenessProbe:
          httpGet:
            path: /live
            port: 80
          initialDelaySeconds: 15 # Give the app plenty of time to start
          periodSeconds: 20
