# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
    paths:
      - 'result/**'
      - '.github/workflows/node.js.yml'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'result/**'
      - '.github/workflows/node.js.yml'

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./result

    # strategy:
    #   matrix:
    #     node-version: [18.x, 20.x, 22.x]
    #     # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache-dependency-path: './result/package-lock.json'
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present
    
    - name: Azure Login
      uses: azure/login@v2
      with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
          
    - name: Login to ACR
      run: az acr login --name ${{ secrets.ACR_NAME }}

    - name: Build and Push Docker Image
      uses: docker/build-push-action@v5
      with:
        # Point context to the "Result" folder where the Dockerfile lives
        context: ./result
        push: true
        tags: ${{ secrets.ACR_NAME }}.azurecr.io/result-app:${{ github.sha }}
