name: 'Terraform AKS Deploy'

on:
  push:
    branches: [ "main" ]
    paths:
      - 'Terraform_Cluster/**'
  workflow_dispatch:
    inputs:
      destroy:
        description: 'Type "yes" to delete all resources'
        required: false
        default: 'no'

permissions:
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./Terraform_Cluster
    env:
      ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      run: terraform init

    - name: Terraform Plan
      run: terraform plan

    - name: Terraform Apply
      if: github.event.inputs.destroy == 'no'
      run: terraform apply -auto-approve

    - name: Terraform Destroy
      # This step only runs if the user manually triggered it with "yes"
      if: github.event.inputs.destroy == 'yes'
      run: terraform destroy -auto-approve
